<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Locker Number</th>
                <th scope="col">Contents</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Locker 101</td>
                <td>Books</td>
                <td>Occupied</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Locker 102</td>
                <td>Electronics</td>
                <td>Available</td>
            </tr>
            <!-- Add more rows as needed -->
        </tbody>
    </table>
    
</div>
</html>
